<link rel="stylesheet" href="https://oopstorm.github.io/gitment/style/default.css">
<script src="https://oopstorm.github.io/gitment/dist/gitment.browser.js"></script>
<script type="text/javascript">
    var gitment = new Gitment({
      owner: 'AlphaHinex',
      repo: 'AlphaHinex.github.io',
      oauth: {
        client_id: '54f9966b8cc9d2423ffd',
        client_secret: '504574e4532bdfa77d3e4091637ff53558408ac2',
      }
    });
    document.getElementsByClassName('row')[0].appendChild(gitment.render());
</script>
<noscript>Please enable JavaScript to view the comments.</noscript>